@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GoldenEye";
  src: url("/fonts/GoldenEye.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Authentic-Sans";
  src: url("/fonts/authentic-sans-60.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GoldenEye", sans-serif;
}

/* Add any custom styles here */
